// @import "vars"

@media (max-width: 1440px)
	.main
		&-slide
			&__bg
				left: -250px
	.request
		&__bg
			right: -30%
	.company
		&-info
			padding: 20px 0 0 0
			row-gap: 15px
			&__text
				font-size: 13px
				line-height: 20px
		&-image
			img
				&:nth-child(1)
					width: 520px
			&__bg
				display: none
			&__label
				padding: 15px
				font-size: 14px
				line-height: 17px

@media (max-width: 1200px)
	.container
		width: 960px
	.section-title
		font-size: 38px
		line-height: 40px
	.main
		&-slide
			&__title
				font-size: 42px
				line-height: 40px
			&__subtitle
				font-size: 16px
				margin: 0 0 70px 0
			&__image
				max-width: 350px

	.catalog
		&-item
			width: 100%
			min-height: 300px
			&__text
				font-size: 10px
				line-height: 12px
		img
			top: 40%
			max-width: 200px
			max-height: 200px
	.advantages
		&-info
			flex-shrink: 0
	.news
		&-content
		&-item
			min-height: 235px
			&__main
				min-width: 520px
				min-height: 470px
			&__last
				width: 220px
				min-height: 235px
	.request
		padding: 40px 0 50px 0
		&-wrapper
			flex-direction: column
			row-gap: 25px
		&-description
			row-gap: 20px
			br
				display: none
		&-title
			margin: 0px 0 5px 0
	.footer
		&-wrapper
			grid-template-columns: minmax(min-content, 200px) 1fr minmax(80px, 150px)
		&-production
			grid-column: 2/3
		&-links
			grid-column: 3/4

	.products
		&-item
			width: 100%
			min-height: 300px
			&__text
				font-size: 10px
				line-height: 12px
		img
			top: 40%
			max-width: 200px
			max-height: 200px

	.uncos
		&-slide
			&__item
				padding: 25px 0
			&__title
				font-size: 29px
				line-height: normal
				margin: 0 0 10px 0
			&__date
				line-height: normal
				margin: 0px 0 15px 0
			&__text
				p
					font-size: 14px
					line-height: 19px
					&:not(:last-child)
						margin: 0 0 20px 0
	.company
		padding: 25px 0 40px 0
		&-image
			&__label
				left: -20px
				top: 310px
		&-info
			&__text
				line-height: 18px
	.atom
		&-slider
			&__block
				width: 670px

	.content
		&-wrapper
			width: 670px

@media (max-width: 1024px)
	.use
		&-slider
			width: 100%
			&__slide
				img
					height: 275px
				span
					font-size: 20px
					line-height: 21px
	.infographics
		&-wrapper
			height: auto
	.partners
		padding: 25px 0 40px 0
		&__bg
			display: none
		&-slider
			&__slide
				justify-content: center

@media (max-width: 992px)
	.container
		width: 730px
	.section-title
		font-size: 35px
	.header
		position: fixed
		top: 0
		left: 0
		right: 0
		z-index: 100
		&_scroll
			background-color: #fff
			.header-top
				height: 0
		&-top
			height: 20px
		&-wrapper
			height: 70px
		&-logo
			ul
				display: none
		&-nav
			display: none
		&-burger
			position: relative
			width: 30px
			height: 19px
			margin: 0 0 0 50px
			span
				content: ''
				position: absolute
				width: 30px
				height: 2px
				left: 0
				background-color: #3c7ab9
				transition: all 0.2s linear
				&:nth-child(1)
					top: 0
				&:nth-child(2)
					top: 50%
					transform: translateY(-50%)
				&:nth-child(3)
					bottom: 0
		&-call
			align-items: center
	.header-burger._active
		span
			&:nth-child(2)
				opacity: 0
			&:nth-child(1)
				top: 50%
				transform: rotate(45deg)translate(0, -50%)
			&:nth-child(3)
				bottom: 50%
				transform: rotate(-45deg)translate(0, 50%)
	.hidden-menu._visible
		top: 0
	.main
		padding: 110px 0 40px 0
		&-slide
			&__bg
				display: none
			&__wrapper
				align-items: flex-start
				justify-content: space-evenly
			&__info
				padding: 0 20px 0 0
				max-width: 50%
			&__title
				font-size: 32px
				line-height: 35px
				br
					display: none
			&__subtitle
				font-size: 12px
				margin: 0 0 50px 0
			&__image
				max-width: 250px
	.catalog
		&-item
			min-height: 270px

	.advantages
		padding: 40px 0 80px 0
		&-wrapper
			column-gap: 50px
		&-list
			column-gap: 20px
		&-block
			&__title
				font-size: 13px
				font-weight: 600
			&__text
				font-size: 10px
	.about
		&-content
			flex-direction: column
			align-items: center
			column-gap: 0
			row-gap: 25px
			&__bg
				display: none
		&-image
			width: auto
		&-info
			row-gap: 20px
			p
				font-size: 13px
	.news
		&-content
			grid-template-columns: repeat(2, 1fr)
			column-gap: 5px
			row-gap: 5px
		&-item
			grid-column: span 1
			min-height: 185px
			&__main
				grid-column: span 1
				grid-row: 1/2
				min-width: auto
				min-height: 280px
				&__title
					font-size: 20px
					line-height: 23px
			&__last
				width: auto
	.request
		&__bg
			display: none
		&-description
			row-gap: 15px
		&-input
			&--message
				width: 420px
	.footer
		&-wrapper
			// grid-template-columns: minmax(min-content, 200px) 1fr minmax(80px, 150px)
			column-gap: 20px
		&-production
			row-gap: 10px
			max-width: 350px
			&__items
				row-gap: 17px
				column-gap: 50px
			&__item

		&-info
			max-width: 200px
			&__link
				font-size: 10px
				line-height: 12px
			&__text
				font-size: 10px
				line-height: 12px
		&-link
			&__secondary
				font-size: 12px
				line-height: 14px

		&-links
			flex-shrink: 0

	.contacts
		padding: 75px 0 39px 0
		&-wrapper
			grid-template-columns: 1fr
			&__download
				margin: 0 auto
		&-details
			&__category
				max-width: 29%
			&__answer
				max-width: 69%
				flex-shrink: 0
	.products
		padding: 80px 0 50px 0
		&-items
			grid-template-columns: repeat(2, 1fr)
			row-gap: 5px
		&-item
			width: 100%
			margin: 0 auto
			min-height: 270px
	.company
		padding: 70px 0 50px 0
		&-title
			margin: 0 0 20px 0
		&-wrapper
			grid-template-columns: 1fr
		&-image
			margin: 0 auto
	.use
		padding: 47px 0 40px 0
	.infographics
		&-title
			margin: 0 0 20px 0
	.partners
		padding: 20px 0 30px 0

	.uncos
		padding: 65px 0 35px 0
		&-slide
			&__image
				max-width: 40%
				height: auto
			&__title
				font-size: 20px
			&__text
				margin: 0 0 20px 0
				padding: 0 20px 0 0
				p
					font-size: 11px
					line-height: 16px
					&:not(:last-child)
						margin: 0 0 10px 0
	.article
		padding: 75px 0 45px 0
		&-title
			margin: 0 0 30px 0
		&-slider
			margin: 0 0 35px 0
		&-slide
			padding: 50px
	.content
		p
			font-size: 13px
			line-height: 20px
			margin: 0 0 20px 0
		h2
			font-size: 36px
			margin: 0 0 30px 0
		h3
			font-size: 30px
			margin: 0 0 25px 0
		h4
			font-size: 26px
			margin: 0 0 20px 0
		h5
			font-size: 24px
			margin: 0 0 20px 0
		ul
			li:not(:last-child)
				margin: 0 0 15px 0
		ol
			li:before
				font-size: 21px
				line-height: 22px
			li:not(:last-child)
				margin: 0 0 15px 0
		blockquote
			min-height: 90px
			padding: 27px 27px 27px 90px
			background-position-x: 25px
		table
			th
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
					font-size: 18px
			td
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
					font-weight: 500
					font-size: 15px
					line-height: 20px
	// .atom
		// padding: 70px 0 50px 0
		// &-main
			// width: 440px
		// &-slider
		// 	&__block
		// 		width: 440px
	// .content
	// 	&-wrapper
	// 		width: 440px
	.atom
		padding: 70px 0 50px 0

		&-title
			margin: 0 0 20px 0
		&-info
			grid-column: 1/3
			grid-row: 3
			row-gap: 10px
			margin: 0 auto
			max-width: 100%
			&__buttons
				// max-width: 300px
				// margin: 0 auto 26px
		&-slider
			&__block
				width: 100%
				grid-column: 1/3
				grid-row: 1/2
			&__name
				font-size: 26px
				line-height: 30px
		&-slide
			img
				max-height: 300px
	.content
		&-wrapper
			width: 100%
			grid-column: 1/3
			grid-row: 2/3
			margin: 0 auto

@media (max-width: 767px)
	.container
		width: 540px
	.advantages
		&-wrapper
			flex-direction: column
			column-gap: 0
			row-gap: 25px
		&-info
			width: 100%
			flex-direction: row
			justify-content: space-between
			align-items: center
		&-title
			margin: 0
	.catalog
		&-items
			grid-template-columns: 1fr
			row-gap: 15px
		&-item
			width: 80%
			margin: 0 auto
	.about
		&-image
			img
				max-width: 100%
	.request
		&-input
			&--message
				max-width: 260px

	.footer
		&-wrapper
			row-gap: 20px
		&-info
			grid-column: 1/4
			grid-row: 1/2
			flex-direction: row
			column-gap: 40px
			row-gap: 0
			align-items: center
			max-width: 100%
		&-logo
			margin: 0
		&-production
			grid-column: 1/3
			grid-row: 2/3
			padding: 0
			&__items
				column-gap: 20px
				row-gap: 20px

		&-links
			grid-column: 3/4
			grid-row: 2/3
			padding: 0
			justify-content: flex-start
	.products
		&-items
			grid-template-columns: 1fr
			row-gap: 15px
		&-item
			width: 80%
			margin: 0 auto
	.company
		&-image
			img:nth-child(1)
				width: 380px
			&__label
				left: -30px
				top: 250px
				padding: 12px
				font-size: 12px
				line-height: 15px
	.uncos
		&-slider
			&__buttons
				justify-content: center
		&-slide
			&__item
				flex-direction: column
				row-gap: 15px
				column-gap: 0
				padding: 15px 0
			&__image
				width: 100%
				max-width: 400px
				max-height: 250px
				margin: 0 auto
			&__info
				flex-direction: row
				flex-wrap: wrap
				column-gap: 15px
			&__date
				order: -1
			&__text
				padding: 0
			&__button
				margin: 0 auto

@media (max-width: 576px)
	.container
		width: 100%
		padding: 0 16px
	.section-title
		font-size: 28px
		line-height: normal
	.header
		&-call
			display: none
	.main
		// padding: 30px 0 30px 0
		&-slider
			&__buttons
				column-gap: 40px
				padding: 30px 0 0 0
		&-slide
			&__wrapper
				row-gap: 25px
				flex-direction: column-reverse
			&__image
				max-width: 180px
				margin: 0 auto
			&__info
				align-items: center
				text-align: center
				max-width: 100%
				padding: 0
			&__title
				font-size: 31px
				line-height: normal
			&__subtitle
				margin: 0 0 40px 0
	.catalog
		padding: 40px 0 40px 0
		&-title
			margin: 0 0 20px 0
	.advantages
		padding: 30px 0 70px 0
		&-wrapper
			row-gap: 20px
		&-list
			column-gap: 10px
	.about
		&-title
			margin: 0 0 20px 0
		&-image
			&__text
				width: 250px
				min-height: 70px
				left: -38px
				bottom: 30px
				padding: 10px
				color: #fff
				font-weight: bold
				font-size: 14px
				line-height: 16px
		&-info
			row-gap: 15px
			&__title
				font-size: 18px

	.news
		padding: 25px 0 55px 0
		&-title
			margin: 0 0 20px 0
		&-content
			grid-template-columns: 1fr
		&-item
			min-height: 250px
			&__bg
				object-fit: cover
			&__main
				min-height: 250px
				&__bg
					object-fit: cover
			&__last
				min-height: 250px
	.request
		padding: 30px 0
		&-text
			font-size: 11px
			line-height: normal
		&-form
			width: 100%
			&__wrapper
				position: relative
				flex-direction: column-reverse
				padding: 0 0 70px 0
				column-gap: 0
				row-gap: 15px
		&-inputs
			row-gap: 12px
		&-input
			width: 100%
			&--message
				max-width: none
				min-height: 140px
		&-button
			position: absolute
			bottom: 0
			left: 50%
			transform: translateX(-50%)
	.footer
		&-wrapper
			grid-template-columns: repeat(2, 1fr)
			column-gap: 0
			row-gap: 25px
		&-production
			grid-column: 1/3
			grid-row: 2/3
			&__items
				justify-content: space-between
				width: 100%

		&-links
			grid-column: 1/3
			grid-row: 3/4
			flex-direction: row
			justify-content: space-between

	.company
		padding: 70px 0 35px 0
		&-image
			img:nth-child(1)
				width: 100%
			&__label
				left: 0px
				top: 250px
				padding: 10px
				font-size: 11px
				line-height: 12px
		&-info
			row-gap: 10px
			&__title
				font-size: 20px
				line-height: 22px
			&__text
				font-size: 12px
				line-height: 16px
	.advantages
		&-company
			padding: 30px 0
	.use
		padding: 30px 0
		&-slider
			padding: 30px 0 0 0
			height: 250px
			&__slide
				img
					height: 220px
	.infographics
		padding: 30px 0 15px 0
	.partners
		padding: 20px 0 10px 0
		&-slider
			padding: 30px 0 0 0
	.article
		padding: 55px 0 35px 0
		&-slider
			&__name
				font-size: 26px
				line-height: 30px
		&-slide
			padding: 30px
		&-title
			margin: 0 0 20px 0
	.content
		p
			font-size: 12px
			line-height: 18px
		h2
			font-size: 30px
			margin: 0px 0 20px 0
		h3
			font-size: 26px
			margin: 0 0 20px 0
		h4
			font-size: 24px
			margin: 0 0 15px 0
		h5
			font-size: 20px
			margin: 0 0 15px 0
			line-height: 25px
		h6
			font-size: 18px
			line-height: 20px
			margin: 0 0 15px 0
		ul
			li
				font-size: 12px
				line-height: 15px
			li:not(:last-child)
				margin: 0 0 10px 0
		ol
			li
				font-size: 12px
				line-height: 15px
			li:not(:last-child)
				margin: 0 0 10px 0
	.content
		blockquote
			background-position-x: 15px
			padding: 20px 20px 20px 75px
			margin: 0 0 25px 0
		h2
			font-size: 26px
		h3
			font-size: 24px
		h4
			font-size: 22px

		table
			th
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
					padding: 10px
			td
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
					padding: 7px 8px
			th
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
					font-size: 16px
			td
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
					font-size: 12px
					line-height: 16px

	.documents
		padding: 20px 0 30px 0
		&-title
			margin: 0 0 20px 0
		&-name
			padding: 12px
			h4
				font-size: 22px
				line-height: 22px
		&-item
			&__close
				right: 12px
	.attachment
		padding: 20px 0
		&-wrapper
			p
				font-size: 12px
				line-height: 15px
		&-social
			flex-direction: column
			align-items: center
			row-gap: 15px
			&__links
				width: 100%
				justify-content: flex-start
				flex-wrap: wrap
				column-gap: 12px
				row-gap: 10px
@media (max-width: 425px)

	.contacts
		&-executive
			&__name
				font-size: 15px
				line-height: 20px
			&__details
				a
					font-size: 11px
					line-height: 14px
		&-schedule
			&__worktime, &__holidays
				font-size: 10px
				line-height: 12px
		&-details
			padding: 20px 15px 15px 15px
			&__item
				flex-direction: column
				align-items: center
				row-gap: 8px
			&__category, &__answer
				text-align: center
				max-width: 100%
			&__category
				font-size: 12px
		&-form
			padding: 15px
			&__title
				font-size: 26px
				line-height: 30px
			form
				row-gap: 12px
			&__input
				padding: 5px 10px
				font-size: 11px
				line-height: 12px
				&::placeholder
					font-size: 11px
					line-height: 12px
				&--message
					min-height: 120px
	.products
		&-item
			width: 100%
		&-title
			margin: 0 0 15px 0
	.uncos
		&-slide
			&__date
				margin: 0 auto 15px
	.article
		&-slide
			img
				max-height: 250px

	.documents
		&-item
			&__wrapper
				ul
					flex-direction: column
					row-gap: 15px
					div
						row-gap: 15px
						width: 100%
	.atom
		&-main
			row-gap: 10px
		&-slider
			&__block
				width: 100%
				margin: 0 auto
		&-info
			row-gap: 14px
			&__buttons
				font-size: 10px
				line-height: 12px
			&__title
				font-size: 15px
				line-height: 18px
				margin: 0 0 12px 0
			&__text
				font-size: 12px
				line-height: 15px
			&__description
				margin: 0

@media (max-width: 375px)
	.section-title
		font-size: 26px
		text-align: center
	.main
		padding: 110px 0 20px 0
		&-slide
			&__image
				max-width: 160px
			&__title
				font-size: 23px
				margin: 0 0 20px 0
			&__subtitle
				font-size: 10px
				margin: 0 0 20px 0
		&-slider
			&__buttons
				padding: 20px 0 0 0
	.catalog
		&-title
			margin: 0 0 15px 0
		&-item
			width: 100%
	.advantages
		&-wrapper
			row-gap: 15px
		&-list
			flex-direction: column
			column-gap: 0
			row-gap: 20px
			width: 100%
		&-block
			width: 100%
			max-width: none
			&__title
				font-size: 11px
				br
					display: none
	.about
		&-title
			margin: 0 0 15px 0
		&-image
			&__text
				width: 200px
				min-height: 50px
				left: -38px
				bottom: 0
				padding: 10px
				font-weight: 600
				font-size: 10px
				line-height: 12px
		&-content
			row-gap: 15px
		&-info
			&__title
				font-size: 15px
				line-height: normal
			p
				font-size: 11px
				line-height: normal
			li
				font-size: 12px
				line-height: 16px
			&__button
				align-self: center
	.footer
		&-info
			column-gap: 20px
			&__text
				row-gap: 10px
		&-production
			&__items
				column-gap: 0px

			&__item
				width: 100%
				max-width: none
				ul
					width: 100%
					display: flex
					flex-wrap: wrap
					column-gap: 10px
					row-gap: 10px
					li
						&:not(:last-child)

							margin: 0
		&-label
			&__wrapper
				min-height: 30px
		&-links
			flex-wrap: wrap
			column-gap: 15px
			row-gap: 10px
			justify-content: flex-start
			margin: 0 auto
	.mirax-label
		font-size: 7px
		line-height: 10px
	.studio
		&-label
			img
				width: 50px
		&-text
			font-size: 7px
			line-height: 10px

	.contacts
		&-executive
			padding: 15px 10px 15px 10px
			flex-direction: column
			row-gap: 10px
			&__person
				align-items: center
			&__name
				font-size: 14px
				line-height: 16px
			&__details
				align-items: center
				text-align: center
		&-schedule
			flex-direction: column
			row-gap: 5px
			&__worktime, &__holidays
				font-size: 9px
				line-height: 11px
	.company
		padding: 60px 0 35px 0
		&-image
			&__label
				top: 200px
				padding: 8px
		&-info
			&__text
				line-height: 15px
	.use
		&-slider
			&__buttons
				right: 50%
				transform: translateX(50%)
	.partners
		&-slider
			&__buttons
				right: 50%
				transform: translateX(50%)
	.article
		&-slider
			&__name
				font-size: 26px
	.content
		table
			th
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
					padding: 7px
			td
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
					padding: 5px 7px
			th
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
					font-size: 14px
			th
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
					padding: 7px
			td
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
					padding: 5px 7px
			th
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
					font-size: 16px
			td
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
					font-size: 11px
					line-height: 14px
	.attachment
		&-social
			&__share
				width: 100%
				text-align: center
